.button {
  @extend %button;

  display: block;
  box-sizing: border-box;
  width: 280px;
  height: 60px;
  padding: 20px;

  background-color: $c-dark;
  color: $c-text-button;
  border: 1px solid transparent;
  text-align: center;

  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    border-color: $c-dark;
    background-color: $c-background;
    color: $c-dark;
  }
}
