.page {
  background-color: $c-background;
  color: $c-dark;

  &__body--with-menu {
    overflow: hidden;
  }

  &__header {
    margin: 14px 0 100px;
    margin-bottom: 100px;

    @include onTablet {
      margin: 20px 0 100px;
    }

    @include onDesktop {
      margin: 40px 0 200px;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: $transition;

    &:target {
      transform: translateX(0);
    }
  }
}
