// @mixin hover($_property, $_toValue) {
//   transition: #{$_property} 0.4s ease-in-out;
//   &:hover {
//     cursor: pointer;
//     #{$_property}: $_toValue;
//   }
// }

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin grid {
  --columns: 2;
  --gap: 20px;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: var(--gap);

  @include onTablet {
    --columns: 6;
    --gap: 30px;
  }

  @include onDesktop {
    --columns: 12;
    --gap: 20px;
  }
}
